q@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using SpaMvc.ViewModels
@model GetSortedViewModel
@{
	ViewBag.Title = "Товары";
}
<style>
	font-face {
		font-family: 'FontAwesome';
		src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal
	}

	.glyphicon {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale
	}

	.glyphicon-chevron-right:before {
		content: "\f054";
	}

	.glyphicon-chevron-left:before {
		content: "\f053";
	}
</style>

<h1>Список товаров</h1>
<a asp-action="Create">Добавить товар</a>
<form method="get">
	<div class="form-inline">
		<label>Категория: </label>
		<select name="category" asp-items="Model.FilterViewModel.Categories" class="form-control"></select>
		<input type="submit" value="Фильтр" class="btn btn-outline-dark" />
		<button type="submit" formaction='@Url.Action("GetJson","Product")'>JSON</button>
	</div>
</form>
<table class="table">
	<tr>
		<th>
			<a asp-action="GetProducts"
			   asp-route-sortState="@(Model.SortViewModel.NameSort)"
			   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
			   asp-route-products="@(Model.Products)">
				Наименование
			</a>
		</th>
		<td>Цвет</td>
		<th>
			<a asp-action="GetProducts"
			   asp-route-sortState="@(Model.SortViewModel.CostSort)"
			   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"
			   asp-route-products="@(Model.Products)">
				Цена
			</a>
		</th>
		<td>Описание</td>
		<td>Категории</td>
	</tr>
	@foreach (var item in Model.Products)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Color</td>
			<td>@item.Cost</td>
			<td>@item.Descriptions</td>
			<td>
				<a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id">Изменить</a> |
			</td>
			<td>
				<form asp-controller="Product" asp-action="Delete" method="post">
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Удалить" />
					</div>
				</form>
			</td>
		</tr>
	}
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
	<a asp-action="GetProducts"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
   asp-route-company="@(Model.FilterViewModel.SelectedCategory)"
   asp-route-sortorder="@(Model.SortViewModel.Current)"
   class="btn  btn-outline-dark">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Назад
	</a>
}
@if (Model.PageViewModel.HasNextPage)
{
	<a asp-action="GetProducts"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
   asp-route-company="@(Model.FilterViewModel.SelectedCategory)"
   asp-route-sortorder="@(Model.SortViewModel.Current)"
   class="btn btn-outline-dark">
		Вперед
		<i class="glyphicon glyphicon-chevron-right"></i>
	</a>
}